#equivt{
    width: 0;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent ;
    border-bottom: 250px solid green;
}
#iscale{
    width: 0;
    border-right:250px solid transparent;
    border-left:250px solid transparent ;
    border-bottom:200px solid #000;
}
#scalene{
    width: 0;
    border-right: 230px solid transparent;
    border-left: 250px solid transparent ;
    border-bottom: 200px solid white;
}

body{
    background-color: yellowgreen;

}
button{background-color: blue;
}
