#equivt{
    width: 0;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent ;
    border-bottom: 250px solid green;
}
#iscale{
    width: 0;
    border-right:250px solid transparent;
    border-left:250px solid transparent ;
    border-bottom:200px solid #000;
}
#scalene{
    width: 0;
    border-right: 230px solid transparent;
    border-left: 250px solid transparent ;
    border-bottom: 200px solid white;
}

body{
    background-color: yellowgreen;

}
button{background-color: blue;
}
h1 {
    color: red;
    font-style: italic;
    margin-left: 20px;
}
  img{
      border:5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4%;

  }
    
